.header{
    background-color: chartreuse;
}
.headerLink{
    padding-right: 10px;
    height: 70px;
    display: flex;
    justify-content: right;
    align-items: center;


    /*justify-content: right;*/

}
.headerLink div{
    margin: 10px;
}

@media (max-width: 700px){
    .headerLink{
        justify-content: center;

    }
}