.wrapper{
    display: flex;
    flex-direction: column;
    max-width: 350px;
    min-width: 220px;
    height: 330px;
    background-color: #0f3f3f;
}
.smallBloc1{
    background-color: #11311a;
     height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
}
.button{
    padding: 10px;
    background-color: red;
}

.smallBloc2 div{
    /*display: flex;*/
    margin: 10px;
background-color: burlywood;
    /*flex: 0 0 250px;*/

}
@media (max-width: 360px) {
    .wrapper{
      width: 320px;
    }
    
}
