.wrapper{
    display: flex;
    background-color: #ff00cc;
    padding: 20px;
    justify-content: center;
    align-items: center;
}
.items{
    align-items: center;
    /*justify-content: center;*/
    display: flex;
    border: 1px  solid #0f3f3f;
    width: 1000px;
    /*min-width: 450px;*/
    /*height: 130px;*/
    flex-direction: column;
}
.items1{
    margin: 10px;
    width: 80%;
    background-color: #47324f;
    /*margin: 70px;*/
}
.items2{
    margin-top: 50px;
    background-color: #47324f;
}
@media (max-width: 360px){

    .items{
        width: 360px;
    }
}