.Wrapper{
    background-color: #1eb449;
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;

}
.items{
    display: flex;
    width: 1000px;
    /*min-width: 450px;*/
    flex-direction: column;
    /*height: 300px;*/
    border: 1px  solid #0f3f3f;


}
.smallBloc1{
    height: 100px;
    text-align: center;
}
.smallBloc2{
    border-top: 1px  solid #0f3f3f;
    background-color: #71bd87;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content:space-around;

}
@media (max-width: 360px){
    .smallBloc2{
        flex-direction: column;
        align-items: center;

    }
    .smallBloc2 div{
        margin: 5px;
    }
    .items{
        width: 360px;
    }
}
